*{padding:0;
margin:0}

body{
    background:black;
    margin:0;
    font-family: 'Work Sans', sans-serif;
    }
p{font-size: 17px;}
.logoimg{
    display: block;
    margin:auto;
}
.logoimg:hover{
    cursor: pointer;
}
.v{
    margin-bottom:15px ;
}
h1{
    font-size: 75px;
    color: white;
    margin-top: -20px;
    user-select: none
}
.sticky {
    position: fixed;
    top: 0;
}
.dataimg{
    width:85%;
    margin: auto;
    display: block;
    margin-top: 10px;
}
article{
flex:3;
color:white;
margin: 0px 15px 0px 15px;
padding-bottom: 30px;
width: 85%;
margin: auto;
}
article h1{
    margin-bottom: 25px;
}
footer{
    min-height: 10vh;
    color:grey;
    text-align: center;
    width:100%;
}
.mainDiv{
    min-height: 90vh;
} 

nav{
    display: flex;
    flex-direction: row;
    flex:1;
    margin-bottom: 15px;
    background-color: black; 
    border-bottom: white 1px solid;
    text-align: center;
    width:100%
}
.arabic{
    text-align: right;
}
.navbuttons .arabic{
    text-align:center;
}
.navbuttons{
    flex:1;
    padding:10px;
    padding-top:15px;
    font-size: 20px;
    text-align: center;
    color:white;
}
.navbuttons p{
	user-select: none
}

.navbuttons:hover{
    cursor: pointer;
}
.navandarticle{
    display:flex;
    align-items:flex-start;
    flex-direction: column
}
.zoomimage{
    position:absolute; 
    left:30%;
    margin-top:15vh;
    width:40%
}
.langbox{
    display: flex;
    border-left: white 1px solid;
}
.langbox.navbuttons{
    flex:1;
}
video{
    margin:auto;
    display: block;
}

@media screen and ( max-width: 1000px ) { 
    .navandarticle { display: inline; }
    nav{flex-direction: column;}
    .body{background-size: default} 
    .zoomimage{
        left:10%;
        width:80%;
    }    
}
@media screen and ( max-width: 600px ) { 
	h1{font-size: 55px;}
}


  

